@charset "UTF-8";

:root {
    --cor0: #F8EFE6;
    --cor1: #0A1940;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: min(1200px, 90%);
    margin: 0 auto;
}